<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Skills I've Learned So Far</h1>
    <ul>
      <% skills.forEach(function(s){ %>
      <li><a href="/skillz/<%= s.id %>"> <%= s.skill %></a></li>
      - <%= s.proficient ? 'yes' : 'not yet' %> <% }); %>
    </ul>
  </body>
</html>
