<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Skills I've Learned So Far</h1>
    <ul>
      <h3><%= skill.skill %></h3>
      <h3>Proficient: <%= skill.proficient ? 'Yes' : 'No' %></h3>
    </ul>
  </body>
</html>
